project:
  type: website

website:
  title: "Personas"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
    tools:
      - icon: github
        menu:
          - text: Source Code
            url:  https://github.com/epiverse-trace/personas
          - text: Report a Bug
            url:  https://github.com/epiverse-trace/personas/issues
  repo-url: https://github.com/epiverse-trace/personas/
  repo-actions: [edit, issue]

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

